<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
</head>
<body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
        <form action='/users' method='post'> <!--ATRIBUTO ACTION: Esta es la ruta que procesará el formulario (no la que muestra el formulario, 
                                            que es "/"). Lo configuraremos en breve.--><!--ATRIBUTO METHOD: Nuestras opciones son GET y POST; 
                                            lo más probable es que queramos que sea una solicitud POST (pero si no la configuras, 
                                            el valor predeterminado es GET)-->
        <label for='name'>Name:</label>
        <!--ELEMENTOS INPUT: Estas son las partes del formulario que realmente recopilan datos del usuario.
        Cada elemento debe tener un valor único para su atributo de nombre.  -->
        <input type='text' name='name'>
        <label for='email'>Email:</label>
        <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
</body>
</html>